@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        @foreach(var item in @ViewBag.listaClientes)
        {
            <div>@item.Id</div>
            <div>@item.Nome</div>
            <div>@item.Cpf</div>
            <div>@item.Email</div>
            <div>@item.Paciente</div>
        }
    </div>
    
    <div>
        @foreach(var item in @ViewBag.listaFornecedores)
        {
            <div>@item.Id</div>
            <div>@item.Nome</div>
            <div>@item.Cnpj</div>
            <div>@item.Email</div>
        }
    </div>

</div>
